trigger:
  - main

pool:
  vmImage: 'macOS-latest'

stages:
  - stage: emulator
    jobs:
      - job: test
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '18.17.1'

          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '11'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'


          - script: |
              node -v
              java -version
              npm install -g appium@next
              appium -v
              appium driver install xcuitest
              appium plugin install --source npm appium-device-farm
              appium
              appium --use-plugins device-farm
              
  
          - task: Maven@3
            inputs:
              mavenPomFile: 'pom.xml'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.11'
              mavenVersionOption: 'Default'
              mavenAuthenticateFeed: true
              effectivePomSkip: true
              sonarQubeRunAnalysis: true
              sqMavenPluginVersionChoice: 'latest'